/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-logo {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 120px;
  height: 80px;
}
.icon-positivo {
  background-image: url(../images/sprite.png);
  background-position: -125px 0px;
  width: 150px;
  height: 40px;
}
.icon-ribbon {
  background-image: url(../images/sprite.png);
  background-position: 0px -85px;
  width: 34px;
  height: 48px;
}
