// |------------------------------------------------------
// |------------------------------------------------------
// | Animations
// |------------------------------------------------------
// |------------------------------------------------------

// 1. Fade Out 
@include keyframes(fade-out) {
    0% {
        @include opacity(1);
    }  
    100%   {
       @include opacity(0);
    }   
}

// 2. Arrow Move to Down
@include keyframes(arrow-down) {
    0% {
        bottom: 15px;
    }  
    50%  {
        bottom: 25px;
    }  
    100%   {
        bottom: 15px;
    }   
}

// 3. Linear Rotation
@include keyframes(rotation) {
    0% {
        @include transform(rotate(0deg));
    } 
    50% {
        @include transform(rotate(180deg));
    }
    100%   {
        @include transform(rotate(360deg));
    }  
}