// Reset
 
<<<<<<< HEAD:assets/css/modules/_reset.scss
* {
	margin: 0;
	padding: 0;
	font-style: inherit;
	@include box-sizing(border-box);
}
a {
	text-decoration: none;
	@include transition(all 0.2s $ease);
}

input, button, textarea, a {
	outline: none;
}

img {
	border: none;
}
=======
// * {
// 	margin: 0;
// 	padding: 0;
// 	font-style: inherit;
// 	@include box-sizing(border-box);
// }
>>>>>>> 256a2dfcdb497a54c87643fd01cf33ec5d7dd283:content/css/modules/_reset.scss


<<<<<<< HEAD:assets/css/modules/_reset.scss
body,
html {
=======
#pes-wrapper {
>>>>>>> 256a2dfcdb497a54c87643fd01cf33ec5d7dd283:content/css/modules/_reset.scss
	font: {
		family: $base-font-family;
		size: $base-font-size;
	}
	color: $base-font-color;
	overflow-x: hidden;
<<<<<<< HEAD:assets/css/modules/_reset.scss
=======
	color: $base-font-color;
	* {
		margin: 0;
		padding: 0;
		font-style: inherit;
		@include box-sizing(border-box);
	}
	a {
		text-decoration: none;
		@include transition(all 0.2s $ease);
	}

	input, button, textarea, a {
		outline: none;
	}

	img {
		border: none;
	}

	li {
		list-style: none;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
	}

	header, footer, nav, aside, section, article {
		display: block;
	}

	strong {
		font-weight: bold;
	}
>>>>>>> 256a2dfcdb497a54c87643fd01cf33ec5d7dd283:content/css/modules/_reset.scss
}
