
/*
Title: Application CSS
Author: Wallace Erick
Author URI: http://wallaceerick.com.br/
Agency: Midia WEB
Version: 1.0
*/


<<<<<<< HEAD:assets/css/application.scss
// Libraries
=======
// Library
>>>>>>> 256a2dfcdb497a54c87643fd01cf33ec5d7dd283:content/css/application.scss
@import "compass";
@import "gridle/gridle";

// Config
@import "modules/variables";

// Gridle
@include gridle_register_state('mobile', (max-width: $mobile));
@include gridle_register_state('tablet', (max-width: $tablet));
@include gridle_register_state('land', (orientation: landscape));

// Mixins
@import "mixins/animation";
@import "mixins/appearance";
@import "mixins/arrow";
@import "mixins/backface-visibility";
@import "mixins/background-size";
@import "mixins/ellipsis";
@import "mixins/keyframes";
@import "mixins/placeholder";
@import "mixins/user-select";
@import "mixins/vertical-align";

// Modules
// @import "modules/animations";
@import "modules/variables";
@import "modules/fonts";
@import "modules/reset";
@import "modules/helpers";
@import "modules/header";
@import "modules/footer";

// Pages
@import "pages/global";

// Partials
<<<<<<< HEAD:assets/css/application.scss
@import "partials/carousel";
=======
@import "partials/loader";
@import "partials/feature-carousel";
@import "partials/form";
@import "partials/modal";
@import "partials/validate";
@import "partials/table";
>>>>>>> 256a2dfcdb497a54c87643fd01cf33ec5d7dd283:content/css/application.scss

// Sprites
@import "sprites/sprite";