// |------------------------------------------------------
// |------------------------------------------------------
// | Loader
// |------------------------------------------------------
// |------------------------------------------------------

body {
	display: none;
}

@include keyframes(rotation) {
  0% {
    @include transform(rotate(0deg));
  }  
  50%  {
    @include transform(rotate(180deg));
  }  
  100%   {
    @include transform(rotate(360deg));
  }  
} 

#jpreOverlay {
	background-color: rgba(255, 255, 255, 0.95);
}

#jpreSlide {
	display: none;
}

#jpreLoader {
	top: 0!important;
	left: 0!important;
	width: 100%;
	height: 100%;
}

#jpreBar {
	position: absolute;
	top: 0;
	left: 0;
	height: 4px!important;
	background-color: $primary-color;
}

#jpreLogo {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 10px;
	margin: -50px 0 0 -50px;
	background-color: $primary-color;
	@include border-radius(100%);
	&:before {
		content: '';
		display: block;
		width: 94px;
		height: 94px;
		border-width: 3px;
		border-style: solid;
		border-color: $primary-color $primary-color $white $primary-color;
		position: absolute;
		top: 0;
		left: 0;
		@include border-radius(100%);
		@include animation(rotation 1s linear infinite);
	}
	.svg {
		display: block;
		width: 80px;
		height: 80px;
		margin: 0;
		background: image-url('icon/144.png');
    	@include border-radius(100%);
		@include background-size(100% 100%);
	}
}

#jprePercentage {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	font-family: $light;
	color: $primary-color;
	text-align: right;
	font-size: 40px;
	letter-spacing: -5px;
}

#jpreButton {
	cursor: pointer;
	display: inline-block!important;
	font-family: $light;
    background: $primary-color;
	color: $white;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin: 0 0 0 -60px;
    padding: 10px 40px;
    height: auto!important;
    @include border-radius(5px);
}